.tasks ul li{
    text-align: center;
    color:black;
    list-style: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1em;
    
}
.tasks ul li input[type="button"]{
    background:coral;
    font-style: Bold;
    border:2px solid red;
}